<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title> mi primer angular</title>
</head>

<body ng-controller="control" ng-cloack>


  <label>nombre:</label>
  <input type="text"  ng-model="actual.nombre">
  <label>apellido:</label>
  <input type="text"  ng-model="actual.apellido">
  <input type="hidden"  ng-model="actual.id">
  
  <button type="buttom"   ng-click="registrar()" >guardar</button>
  <button type="buttom"   ng-click="update()" >modificar</button>
  <button type="buttom"   ng-click="cambio()" >actualizar</button>
  

<table >
        <tr>
          
           <th>nombre</th>
           <th>apellido</th>
          
        </tr>
        <tr ng-repeat="post in posts" >
            <td>{{post.id}}</td>
            <td>{{post.nombre}}</td>
            <td>{{post.apellido}}</td>
            <td><button type="button"  ng-click="eliminar(post.id)">eliminar</button></td>
            <td><button type="button"  ng-click="store(post.id)">editar</button></td>
            </tr>
           
     </table>


    

     <script type="text/javascript" src="js/angular.min.js"></script>
 <script type="text/javascript" src="controlador.js"></script>
 </body>
 
 </html>
